<html>
<head>
    <title>Login</title>
</head>
<body bgcolor="#AEB6BF ">
<div class="container" align="center">
    <div class="row">
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                New Here? <a href="{{ url_for('register') }}">Get registered..</a>.
            </div>
        </div>
    </div>
</div>
</body>
</html>